@model IEnumerable<ProductApp.Models.Category>

@{
    ViewData["Title"] = "Kategoriler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="mb-4">Kategoriler</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Yeni Kategori Ekle</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-warning btn-sm">Düzenle</a> |
                    <a asp-action="Details" asp-route-id="@item.CategoryId" class="btn btn-info btn-sm">Detaylar</a> |
                    <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-danger btn-sm">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
